ci:
  autoupdate_schedule: quarterly
  autoupdate_branch: 'main'
  autofix_prs: false

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v4.6.0'
  hooks:
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: trailing-whitespace
    exclude_types: [svg]
  - id: check-json
  - id: check-yaml
  - id: check-case-conflict
  - id: fix-encoding-pragma
    args:
    - --remove
  - id: mixed-line-ending
- repo: https://github.com/glotzerlab/fix-license-header
  rev: v0.3.2
  hooks:
  - id: fix-license-header
    name: Fix license headers (Python)
    types_or: [python]
    args:
    - --license-file=LICENSE
    - --num=2
    - --add=Part of azplugins, released under the BSD 3-Clause License.
    - --keep-before=#!
  - id: fix-license-header
    name: Fix license headers (C)
    types_or: [c, c++, cuda, inc]
    args:
    - --license-file=LICENSE
    - --num=2
    - --add=Part of azplugins, released under the BSD 3-Clause License.
    - --comment-prefix=//
  - id: fix-license-header
    name: Fix license headers (reStructuredText)
    types_or: [rst]
    args:
    - --license-file=LICENSE
    - --num=2
    - --add=Part of azplugins, released under the BSD 3-Clause License.
    - --keep-after=.. include
    - --keep-after=.. automodule
    - --comment-prefix=..
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v16.0.6
  hooks:
  - id: clang-format
    types_or: [c, c++, cuda, inc]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.5.5
  hooks:
    - id: ruff-format
    - id: ruff
